html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, h7, p, a, strong, sub, sup, var, b, u, i, center, ol, ul, li, form, label, legend,
table, caption, tr, th, td, article, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}