h1, h2, h3, h4, p {
    font-family: "Assistant", serif;
}
h4{
    font-size: 13px;
}

header{
    width: 100%;
    height: 55px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
}
.container{
    display: flex;
    gap: 10px;
}
.bloc1, .bloc2{
    padding: 20px;
    box-sizing: border-box; 
}
.bloc1{
    width: 18%;
    font-family: "Assistant", serif;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 20px;
    height: 520px;
    margin-left: 20px;
}
.copyright{
    padding-top: 335px;
}

/* ONGLET */

button{
    -webkit-appearance: none;
    border: 0;
    border-radius: 5px;
    padding: 10px, 20px;
    font-family: "Assistant", serif;
    font-size: 20px;
    width: 100px;
    height: 25px;
    background-color: antiquewhite;
}
button:hover{
    background: black;
    color: white;
}
button.active{
    background: black;
    color: white;
}
.intop10{
    margin-top: 10px;
}

/* BLOC2-JOUR */

.bloc2{
    width: 80%;
    height: 500px;
}
#month, #year{
    font-family: "Assistant", serif;
    font-weight: bold;
    font-size: 20px;
}
#heure{
    width: 90%;
    align-items: right;
    font-family: "Assistant", serif;
    border: none;
    font-weight: 400;
}
#heure:hover{
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
}
input:focus{
    outline: none;
}
input{
    margin-left: 10px;
    align-items: right;
}
:placeholder{
    font-family: "Assistant", serif;
}
.calendar-week-day{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: 600;
    height: 50px;
}
.calendar-week-day div{
    display: grid;
    place-items: center;
    color: black;
    font-family: "Assistant", serif;
}
.calendar-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: 600;
    height: 18px;
}
.calendar-days div{
    display: grid;
    place-items: center;
    color:black;
    font-family: "Assistant", serif;
}

/* CALENDRIER */

.calendar{
    background-color: #c3c2c8;
    border-radius: 5px;
    width: 100%;
    height: 500px;
}
.calendar-header{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    font-family: "Assistant", serif;
}
.calendar-body{
    padding: 10px;
}

.month-picker{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.year-picker{
    display: flex;
    align-items: center;
}

/* changer les années */

.year-change{
    width: 40px;
    border-radius: 30%;
    place-items: center;
    cursor: pointer;
}





